@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Roboto:wght@100&display=swap');

:root {
    --green:#27ae60;
    --dark-color:#219150;
    --yellow: rgb(255,255,0);
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}

.header-tuyet .header-1-tuyet {
    background-color: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-tuyet .header-1-tuyet .logo-tuyet {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);

}

.header-tuyet .header-1-tuyet .logo-tuyet i {
    color: var(--green)
}

.header-tuyet .header-1-tuyet .search-form-tuyet {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header-tuyet .header-1-tuyet .search-form-tuyet input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header-tuyet .header-1-tuyet .search-form-tuyet label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
}

.header-tuyet .header-1-tuyet .search-form-tuyet label:hover {
    color: var(--green);
}

.header-tuyet .header-1-tuyet .icons-tuyet div,
.header-tuyet .header-1-tuyet .icons-tuyet a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header-tuyet .header-1-tuyet .icons-tuyet div:hover,
.header-tuyet .header-1-tuyet .icons-tuyet a:hover {
    color: var(--green);
}

#search-btn-tuyet {
    display: none;
}

.header-tuyet .header-2-tuyet {
    background: var(--green);
}

.header-tuyet .header-2-tuyet .navbar-tuyet {
    text-align: center;
}

.header-tuyet .header-2-tuyet .navbar-tuyet a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header-tuyet .header-2-tuyet .navbar-tuyet a:hover {
    background: var(--dark-color);
}

.header-tuyet .header-2-tuyet.active {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.bottom-navbar-tuyet {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    display: none;
    z-index: 666;
}

.bottom-navbar-tuyet a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar-tuyet a:hover {
    background: var(--dark-color);
}

.btn-tuyet {
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn-tuyet:hover {
    background:var(--dark-color);
}

.home-tuyet {
    background: url('../img/banner-bg.jpg');
    background-size: cover;
    background-position: center;
}

.home-tuyet .row-tuyet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home-tuyet .row-tuyet .content-tuyet {
    flex: 1 1 42rem;
}

.home-tuyet .row-tuyet .content-tuyet h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home-tuyet .row-tuyet .content-tuyet p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.home-tuyet .row-tuyet .books-slider-tuyet {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home-tuyet .row-tuyet .books-slider-tuyet .stand-tuyet {
    width:100%;
    margin-top: -2rem;
}

.home-tuyet .row-tuyet .books-slider-tuyet a img {
    height: 25rem;
}

.home-tuyet .row-tuyet .books-slider-tuyet a:hover img {
    transform: scale(.9);
}

.icons-container-tuyet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container-tuyet .icons-tuyet {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container-tuyet .icons-tuyet i {
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container-tuyet .icons-tuyet h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: .5rem;
}

.icons-container-tuyet .icons-tuyet p {
    font-size: 1.4rem;
    color: var(--light-color)
}

.heading-tuyet {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading-tuyet::before {
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading-tuyet span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.featured-tuyet .featured-slider-tuyet .box-tuyet {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured-tuyet .featured-slider-tuyet .box-tuyet:hover {
    border: var(--border-hover);
}

.featured-tuyet .featured-slider-tuyet .box-tuyet .image-tuyet {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}


.featured-tuyet .featured-slider-tuyet .box-tuyet .image-tuyet img {
    height: 25rem;

}

.featured-tuyet .featured-slider-tuyet .box-tuyet .icons-tuyet {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured-tuyet .featured-slider-tuyet .box-tuyet:hover .icons-tuyet {
    transform: translateY(0%);
}

.featured-tuyet .featured-slider-tuyet .box-tuyet .icons-tuyet a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;

}

.featured-tuyet .featured-slider-tuyet .box-tuyet .icons-tuyet a:hover {
    background: var(--green);
    color: #fff;
}

.featured-tuyet .featured-slider-tuyet .box-tuyet .content-tuyet {
    background: #eee;
    padding: 1.5rem;
}

.featured-tuyet .featured-slider-tuyet .box-tuyet .content-tuyet h3 {
    font-size: 2rem;
    color: var(--black);
}

.book-tuyet .book-slider-tuyet .box-tuyet {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

.book-tuyet .book-slider-tuyet .box-tuyet:hover {
    border: var(--border-hover);
}

.book-tuyet .book-slider-tuyet .box-tuyet .image-tuyet img {
    height: 15rem;
}

.book-tuyet .book-slider-tuyet .box-tuyet .content-tuyet h3 {
    font-size: 2rem;
    color: var(--black);
}

.book-tuyet .book-slider-tuyet .box-tuyet .content-tuyet .stars-tuyet i {
    font-size: 1.5rem;
    color: var(--yellow);
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet {
    margin: 2rem 0;
    width: 30rem;
    border: var(--border);
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet .image-tuyet {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet .image-tuyet img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet:hover {
    border: var(--border-hover);
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet:hover .image-tuyet img {
    transform: scale(1.1);
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet .content-tuyet {
    padding: 1.5rem;
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet .content-tuyet h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.blogs-tuyet .blogs-slider-tuyet .box-tuyet .content-tuyet p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.footer-tuyet .box-container-tuyet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer-tuyet .box-container-tuyet .box-tuyet h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;

}

.footer-tuyet .box-container-tuyet .box-tuyet a {
    display: block;
    font-size: 1.4em;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer-tuyet .box-container-tuyet .box-tuyet a i {
    color: var(--green);
    padding-right: .5rem;
}

.footer-tuyet .box-container-tuyet .box-tuyet a:hover i {
    padding-right: 2rem;
}

.footer-tuyet .share-tuyet {
    padding: 1rem 0;
    text-align: center;
}

.footer-tuyet .share-tuyet a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer-tuyet .share-tuyet a:hover {
    background: var(--black);
}

.footer-tuyet .credit-tuyet {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer-tuyet .credit-tuyet span {
    color: var(--green);
}