.col-1-tuyet {
	width: 8.33%;
	float: left;
}

.col-2-tuyet {
	width: 16.66%;
	float: left;
}

.col-3-tuyet {
	width: 25%;
	float: left;
}

.col-4-tuyet {
	width: 33.33%;
	float: left;
}

.col-5-tuyet {
	width: 41.66%;
	float: left;
}

.col-6-tuyet {
	width: 50%;
	float: left;
}

.col-7-tuyet {
	width: 58.33%;
	float: left;
}

.col-8-tuyet {
	width: 66.66%;
	float: left;
}

.col-9-tuyet {
	width: 75%;
	float: left;
}

.col-10-tuyet {
	width: 83.33%;
	float: left;
}

.col-11-tuyet {
	width: 91.66%;
	float: left;
}

.col-12-tuyet {
	width: 100%;
	float: left;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav-tuyet {
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}

.topnav-tuyet a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	font-size: 17px;
}

.container-1-tuyet#home > .col-6-tuyet {
	height: 80%;
	background-color: #1E1E1E;
}

.topnav-tuyet a:hover {
	background-color: rgb(83, 83, 83);
}

.topnav-tuyet a.active {
	background-color: #6d7424;
	color: white;
}

.topnav-tuyet .icon-tuyet {
	display: none;
}

.nav-fixed-top-tuyet {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030
}

@media screen and (max-width: 768px) {
	.topnav-tuyet a:not(:first-child) {
		display: none;
	}
	.topnav-tuyet a.icon-tuyet {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.topnav-tuyet.responsive-tuyet {
		position: relative;
	}
	.topnav-tuyet.responsive-tuyet .icon-tuyet {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav-tuyet.responsive-tuyet a {
		float: none;
		display: block;
		text-align: left;
	}

	.container-1-tuyet#home > .col-6-tuyet {
		clear: both;
		width: 100%;
		height: fit-content;
	}
}

@media screen and (max-width: 768px) {
	.container-1-tuyet#hot > .col-12-tuyet > .col-4-tuyet {
		width: 100%;
	}
	.container-1-tuyet#hot > .col-12-tuyet > .col-4-tuyet.img-tuyet {
		height: 60vh;
	}
	.container-1-tuyet#hot > .col-12-tuyet#truyen-hot {
		margin-top: 16em;
	}
}

@media screen and (max-width: 768px) {
	.container-1-tuyet#tinh-nang > .col-6-tuyet {
		width: 100%;
	}
	.container-1-tuyet#tinh-nang > .ads-img-tuyet {
		display: none;
	}

	div#book {
		margin-top: 10em;
	}
}

.text-center-tuyet {
	text-align: center;
}

.container-1-tuyet {
	height: 100vh;
    padding-top: 30px;
}

div.middle-div-tuyet {
	height: fit-content;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-top: 1em;
}

.discount-tuyet {
	width: 75%;
	line-height: 40px;
	border: 1px solid #aaa;
	border-radius: 20px;
	padding-left: 20px;
	font-size: 20px;
	background-image: url('../img/right-arrow.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 45px;
}


/* slideshow  */

.slideshow-container-tuyet {
	max-width: 400px;
	position: relative;
	margin: auto;
	box-sizing: border-box;
}

.numbertext-tuyet {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.slide-tuyet {
	display: none;
}

.fade-tuyet {
	animation-name: fade;
	animation-duration: 1.5s;
}

.dot-tuyet {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

@keyframes fade-tuyet {
	from {
		opacity: .4
	}
	to {
		opacity: 1
	}
}

.col-3-tuyet h1 {
	text-align: right;
	padding-right: 2rem;
    color: rgb(92, 92, 92);
    /* font-size: 1.7em; */
}

.ads-img-tuyet img {
	width: 60%;
	border-bottom-left-radius: 30%;
	margin-left: 12rem;
}


/* danh sách truyện tiêu biểu */

.img-tuyet {
	height: 500px;
	filter: drop-shadow(10px 10px 4px #cfcfcf);
}

.img-tuyet img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 70%;
}

.img-tuyet p {
	text-align: center;
	font-size: 20px;
}

.button-tuyet {
	background-color: #353535;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 2em;
}

.footer-tuyet {
	margin: auto;
	background-color: black;
	color: white;
	text-align: center;
}

/* sản phẩm */
.product-tuyet {
	padding-top: 20px;
}

.product-tuyet img{
	height: 300px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.product-tuyet p {
	padding-left: 40%;
	color: white;
}

.nav-tuyet {
	font-weight: bold;
}

.nav-tuyet li {
	display: inline-block;
	margin-right: 15px;
}

.nav-tuyet ul {
	height: 20px;
	text-align: center;
}

/* New CSS */
.header #header-tuyet {
	background:#1E1E1E;
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding:2rem 9%;
}

.header #header-tuyet .logo-tuyet {
	font-size: 24px;
    font-weight: bolder;
    color:var(--black);
	color: white;
	text-decoration: none;
}

.header #header-tuyet .menu-tuyet {
	display:flex;
    align-items: center;
}

.header #header-tuyet .menu-tuyet a {
	color: #989898;
	text-decoration: none;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.header #header-tuyet .nav-button-tuyet i {
	color: #989898;
}

.home-tuyet {
	background-color: #1E1E1E;
	padding-top: 40px;
	padding-bottom: 85px;
}

.home-tuyet .row-tuyet {
	display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home-tuyet .row-tuyet .content-tuyet {
	flex:1 1 42rem;
	margin-left: 88px;
}

.home-tuyet .row-tuyet .content-tuyet h1{
    font-size: 4.5rem;
	color: white;
}

.home-tuyet .row-tuyet .content-tuyet p{
    font-size: 18px;
	color: white;
	margin-bottom: -40px;
}

.home-tuyet .row-tuyet .book-slider-tuyet {
	flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.loi-ich-tuyet {
	margin-left: 25px;
	width: fit-content;
}

.heading-loiich-tuyet {
	font-size: 48px;
	margin-left: 70px;
	color: lightgrey;
}

.content-loiich-tuyet {
	width: fit-content;
	margin-left: -40px;
	color: rgb(165, 165, 165);
}

.number-tuyet {
	font-size: 32px;
	color: lightgrey;
}

.title-tuyet {
	font-size: 34px;
	color: rgb(200, 199, 199);
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-70%);
    width: 100%;
    height:.01rem;
    background: white;
    z-index: -1;
}

.heading span{
    font-size: 2.5rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #1e1e1e;
    border:var(--border);
	color: white;
}

.sach-noi-bat-tuyet {
	margin-top: 30px;
}

.sach-nb-tuyet {
	height: 500px;
}

.sach-nb-tuyet img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.sach-nb-tuyet p {
	text-align: center;
	font-size: 20px;
	color: white;
}

.nav-tuyet ul li a {
	color: white;
}